.t-page__contact-image {
  display: none;
}

.m-contact {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;

  h2 {
    margin-bottom: 0;
  }
}

.m-contact__item {
  margin-bottom: $spacer;
  margin-right: $spacer;

  p {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .m-contact {
    margin-left: $spacer;
  }

  .m-contact__item {
    margin-right: $spacer*2;
    margin-bottom: $spacer*2;
  }

  .t-page__contact-image {
    display: block;
    text-align: right;
    margin-top: -15px;

    img {
      width: auto;
      max-height: 260px;
    }
  }
}