a {
    text-decoration: underline;
    display: inline-block;
    color: $secondary;
    transition: all 300ms ease;

    &:focus,
    &:hover {
        color: $primary;
    }
}

img {
    width: 100%;
}

[class^="icon-"],
[class*=" icon-"] {
    vertical-align: middle;
    line-height: 1.3;
}

strong {
    font-weight: $font-weight-bold;
}

picture {
    display: block;
}


@include media-breakpoint-down(md) {
    h1 {
        margin-bottom: $spacer;
    }
}