.t-fullpage {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-fullpage__inner {
    max-width: 500px;
    margin: 0 auto;
}

.t-content-wrapper {
    padding-top: 50px;
    position: relative;
}

.t-section {
    padding: $spacer*1 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    // flex-direction: column;
}

@include media-breakpoint-up(md) {
    .t-section {
        padding: $spacer*1.5 0;
    }
}