<!DOCTYPE html>
<html lang="de">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="referrer" content="origin-when-cross-origin" />
	<title>Stück Werke - {% block title %}{% endblock %}</title>
	<meta name="description" content="Boiler Template">
	<meta name="keywords" content="boiler template, template">
	<meta name="author" content="Jonas Teetaert">
	<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/build/css/main.css">
</head>

<body>
	{% include "_layouts/components/nav" %}
	<main class="t-content-wrapper">
		{% block main %}
		<section class="t-section">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						{% block pageHeader %} {% endblock %}
					</div>
				</div>
			</div>
		</section>
		{% endblock %}
	</main>
	{% include "_layouts/components/footer" %}
	<!-- scripts -->
	<script type="text/javascript" src="/build/js/bundle.js"></script>
</body>

</html>