.m-album {
  display: flex;
  margin-bottom: $spacer * 1.5;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.m-album__info {
  width: 25%;
  text-align: right;
  padding-right: $spacer;
  align-self: flex-end;
  font-size: 0.6875rem;
  display: none;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  span {
    display: block;
  }
}

.m-album__cover {
  width: 25%;

  picture {
    position: relative;
  }

  .icon-play {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    color: $secondary;
    font-size: 1rem;
    position: absolute;
  }
}

.m-album__description {
  width: 75%;
  padding-left: $spacer/2;
}

.m-album__sample {
  margin-bottom: $spacer/2;
}

.m-album__format {
  margin-bottom: 0;
  color: $primary;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 2px;
}


@include media-breakpoint-down(md) {
  .m-album__sample {
    button {
      padding: 5px;
      background: transparent;
      color: $body-color;

      span {
        display: none;
      }

      .icon-play,
      .icon-pause {
        display: inline;
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .m-album__info {
    display: block;
  }

  .m-album__cover {
    width: 25%;
  }

  .m-album__description {
    width: 50%;
    padding-left: $spacer;
  }

  .m-album__album {
    display: block;
  }
}